<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Loop over jobs map to display all job fields -->

    <div th:fragment="display-jobs" th:if="${jobs} and ${jobs.size()}">
        <h2 th:text="${jobs.size() + ' ' + 'Result(s)'}"></h2>

        <div class="container">

            <table class="table table-bordered">
                <tbody  th:each="job : ${jobs}" >
                    <tr th:each="row, idx : ${job.keySet()}" th:class="${idx.odd} ? 'odd'">
                        <th th:text="${#strings.capitalizeWords(row)}" scope="row"></th>
                        <td><a th:href="@{/list/jobs(column=${row},value=${job.get(row)})}" th:text="${job.get(row)}"></a></td>
                    </tr>
                    <tr><td></td></tr>
                </tbody>
            </table>

<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Position Type</th>-->
<!--                    <th>Name</th>-->
<!--                    <th>Employer</th>-->
<!--                    <th>Location</th>-->
<!--                    <th>Core Competency</th>-->
<!--                </tr>-->
<!--                <tr th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">-->
<!--                    <td th:text="${job['position type']}"></td>-->
<!--                    <td th:text="${job[name]}"></td>-->
<!--                    <td th:text="${job[employer]}"></td>-->
<!--                    <td th:text="${job[location]}"></td>-->
<!--                    <td th:text="${job['core competency']}"></td>-->
<!--                </tr>-->
<!--            </table>-->

        </div>
    </div>
</body>
</html>